/*
BEM = Bloque elemento modificador

Es una forma de nombrar las clases
Se usa siempre class no ID

class = aplicar estilos
Id = Aplicar funcionalidad (javascript)

.bloque
.bloque__elemento
.bloque__elemento--modificador

1. No usar ID
2. No usar etiquetas
3. Que todo sea un key selector (seleccionar justo elemento al cual sele daran los estilos)
*/

.cards{
    /* 1.tamaños */
    width: 400px;
    /*2. margenes*/
    margin: 10px auto;
    padding: 10px;
    /*3. bordes */
    border: 1px solid gray;
    box-shadow: 0px 0px 20px gray;
    border-radius: 10px;
    /*4. lo que sea */
}

.cards__card {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    background-color: lightskyblue;
    margin: 5px;
}

.card__title {
    font-size: 18px;
    font-weight: bold;
}

.card__link{
    padding: 10px;
    background-color: green;
    color: white;
    text-decoration: none;
}

.card__link--red {
    background-color: red;
}


/* .cards{ */
    /* 1.tamaños */
    /* width: 400px; */
    /*2. margenes*/
    /* margin: 10px auto;
    padding: 10px; */
    /*3. bordes */
    /* border: 1px solid gray;
    box-shadow: 0px 0px 20px gray;
    border-radius: 10px; */
    /*4. lo que sea */
/* } */

/* .cards .card {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    background-color: lightskyblue;
    margin: 5px;
}

.cards .card h3 {
    font-size: 18px;
    font-weight: bold;
}

.cards .card a {
    padding: 10px;
    background-color: green;
    color: white;
    text-decoration: none;
} */
